<p>Liste des pouvoirs</p>
@if(pouvoirs.length != 0){
  @for(pouvoir of pouvoirs; track pouvoir.id){
    <ul class="list-group mb-5 ">
      <li class="list-group-item">{{pouvoir.name}}</li>
      <li class="list-group-item">{{pouvoir.description}}</li>
      <li class="list-group-item">{{pouvoir.imageUrl}}</li>
      <app-uibuttonblock
        (createEvent)="createPouvoir(pouvoir)"
        (updateEvent)="updatePouvoir(pouvoir)"
        (readEvent)="readPouvoir(pouvoir)"
        (deleteEvent)="deletePouvoir(pouvoir)"
      />
    </ul>
  }
} @else {
  <p>La liste est vide pour l'instant</p>
}
