<li class="list-group-item">Nom: {{magicien.name}}</li>
<li class="list-group-item">Nombre de pouvoirs: {{magicien.numberOfPowers}}</li>
<li class="list-group-item d-flex gap-5">
  <button href="" class="bg-secondary text-white nav-link px-2 py-1 rounded-1" (click)="readMagicien(magicien)">afficher Plus</button>
  <button href="" class="bg-warning text-white nav-link px-2 py-1 rounded-1" (click)="updateMagicien(magicien)">modifier</button>
  <button href="" class="bg-danger text-white nav-link px-2 py-1 rounded-1" (click)="deleteMagicien(magicien)">supprimer</button>
</li>
